<div id="banner">

</div>

<div class="container">
  <div id="articles-list">
    <% @articles.each do |article| %>
      <a class="article-item" href="<%= article_path(article) %>">
        <div>
          <img src="<%= article.thumbnail_picture %>" alt="image">
        </div>
        <div>
          <h3><%= article.title %></h3>
          <p><%= article.body %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>
